<template>
  <a class="inline-flex cursor-pointer justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-300">
    <slot />
  </a>
</template>

<script>
export default {
  props: {
  },
}
</script>

<style>

</style>
