<template>
  <div
    v-show="showMenu"
    class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu"
  >
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    showMenu: {type: Boolean, required: true},
  },
}
</script>

<style>

</style>
