<template>
  <a
    :href="href"
    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
    role="menuitem"
  >
    <slot />
  </a>
</template>

<script>
export default {
  props: {
    href: {type: String, required: true},
  },
}
</script>

<style>

</style>
