<template>
  <div>
    <div>
      <app-dropdown-button
        @click="showMenu = !showMenu"
        @focusout="showMenu = false"
      >
        <slot name="button" />
      </app-dropdown-button>
    </div>
    <transition
      enter-active-class="transition ease-out duration-100"
      enter-class="transform opacity-0 scale-95"
      enter-to-class="transform opacity-100 scale-100"
      leave-active-class="transition ease-in duration-75"
      leave-class="transform opacity-100 scale-100"
      leave-to-class="transform opacity-0 scale-95"
    >
      <app-dropdown-menu :show-menu="showMenu">
        <slot />
      </app-dropdown-menu>
    </transition>
  </div>
</template>

<script>
import AppDropdownButton from './AppDropdownButton.vue';
import AppDropdownMenu from './AppDropdownMenu.vue';
export default {
  components: { AppDropdownButton, AppDropdownMenu },
  data: () => ({showMenu: false}),
}
</script>

<style>

</style>
