<template>
  <span class="block sm:mx-1">
    <a
      class="inline-flex items-center px-8 py-5 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      :href="href"
      type="button"
    >
      <slot />
    </a>
  </span>
</template>

<script>
export default {
  props: {
    href: {type: String, required: true},
  },
}
</script>

<style>

</style>
