<template>
  <header class="bg-white shadow py-6 px-4 sm:px-6 lg:px-8">
    <div class="lg:flex lg:items-center lg:justify-between">
      <div class="flex-1 min-w-0">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          <slot />
        </h1>
      </div>
      <div class="mt-5 flex lg:mt-0 lg:ml-4">
        <slot name="actions" />
      </div>
    </div>
  </header>
</template>

<script>
export default {

}
</script>

<style>

</style>
