<template>
  <input
    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
    :checked="modelValue"
    type="checkbox"
    value="1"
    @input="$emit('update:modelValue', $event.target.checked)"
  >
</template>

<script>
export default {
  props: {
    modelValue: {type: Boolean, default: false},
  },
  emits: ['update:modelValue'],
}
</script>

<style>

</style>
