<template>
  <div>
    <div v-if="isArray(value)">
      <input
        v-for="valueId in value"
        :key="valueId"
        :value="valueId"
        type="hidden"
        :name="name + '[]'"
      >
    </div>
    <input
      v-else
      v-model="value"
      type="hidden"
      :name="name"
    >
    <multiselect
      v-model="value"
      v-bind="$props"
      @update:modelValue="$emit('update:modelValue', $event)"
    />
  </div>
</template>

<script>
import Multiselect from '@vueform/multiselect';
export default {
  components: {
    Multiselect,
  },
  props: {
    createTag: {type: Boolean, default: false},
    delay: {type: Number, default: -1},
    mode: {type: String, default: ''},
    id: {type: String, default: 'multiselect'},
    name: {type: String, default: ''},
    modelValue: {type: null, default: null},
    options: {type: [Array, Function], default: () => []},
    resolveOnLoad: {type: Boolean, default: true},
    searchable: {type: Boolean, default: false},
  },
  emits: ['update:modelValue'],
  data() {
    return {
      value: this.modelValue,
    }
  }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
