<template>
  <a
    class="px-3 py-2 rounded-md font-medium"
    :class="{
      'bg-gray-900 text-white': isActive,
      'text-gray-300 hover:bg-gray-700 hover:text-white': !isActive,
      'block text-base': forMobile,
      'text-sm': !forMobile,
    }"
    :href="href"
  >
    <slot />
  </a>
</template>

<script>
export default {
  props: {
    href: {type: String, required: true},
    isActive: {type: Boolean, default: false},
    forMobile: {type: Boolean, default: false},
  },
}
</script>

<style>

</style>
