<template>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <app-navbar-mobile-menu
          :show-menu="showMobileMenu"
          @click="showMobileMenu = !showMobileMenu"
        />
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <app-navbar-brand />
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <app-navbar-item
                :href="route('iecs.index')"
                :is-active="route().current('iecs.index')"
              >
                IECs
              </app-navbar-item>
              <app-navbar-item
                :href="route('iecs.create')"
                :is-active="route().current('iecs.create')"
              >
                Agregar IEC
              </app-navbar-item>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <app-navbar-dropdown-user />
        </div>
      </div>
    </div>

    <div :class="['sm:hidden', {hidden: !showMobileMenu, block: showMobileMenu}]">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <app-navbar-item
          :href="route('iecs.index')"
          :is-active="route().current('iecs.index')"
          :for-mobile="true"
        >
          IECs
        </app-navbar-item>
        <app-navbar-item
          :href="route('iecs.create')"
          :is-active="route().current('iecs.create')"
          :for-mobile="true"
        >
          Agregar IEC
        </app-navbar-item>
      </div>
    </div>
  </nav>
</template>

<script>
import AppNavbarBrand from './AppNavbarBrand.vue';
import AppNavbarDropdownUser from './AppNavbarDropdownUser.vue';
import AppNavbarItem from './AppNavbarItem.vue';
import AppNavbarMobileMenu from './AppNavbarMobileMenu.vue';
export default {
  components: {
    AppNavbarItem,
    AppNavbarMobileMenu,
    AppNavbarBrand,
    AppNavbarDropdownUser,
  },
  data: () => ({showMobileMenu: false}),
};
</script>

<style>
</style>
