<template>
  <div class="ml-3 relative">
    <app-dropdown class="ml-3 relative">
      <template #button>
        <img
          class="h-8 w-8 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        >
      </template>
      <app-dropdown-menu-item href="#">
        Your Profile
      </app-dropdown-menu-item>
      <app-dropdown-menu-item href="#">
        Settings
      </app-dropdown-menu-item>
      <app-dropdown-menu-item href="#">
        Sign out
      </app-dropdown-menu-item>
    </app-dropdown>
  </div>
</template>

<script>
import AppDropdown from './AppDropdown.vue';
import AppDropdownMenuItem from './AppDropdownMenuItem.vue';
export default {
  components: { AppDropdown, AppDropdownMenuItem },
  data() {
    return {
      showProfileMenu: false,
    };
  },
}
</script>

<style>

</style>
