<template>
  <div class="flex-1 flex justify-between">
    <button
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"
      type="button"
      @click="prev"
      v-text="prevText"
    />
    <button
      class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"
      type="button"
      @click="next"
      v-text="nextText"
    />
  </div>
</template>

<script>
export default {
  props: {
    nextText: {type: String, default: 'Siguiente'},
    page: {type: Number, required: true},
    prevText: {type: String, default: 'Anterior'},
  },
  emits: ['change'],
  methods: {
    next() {
      this.$emit('change', this.page + 1);
    },
    prev() {
      if (this.page > 0) {
        this.$emit('change', this.page - 1);
      }
    },
  },
}
</script>

<style>

</style>
