<template>
  <vue-paginate
    :page-count="totalPages"
    :click-handler="onChange"
    :prev-text="prevText"
    :next-text="nextText"
    container-class="relative z-0 inline-flex shadow-sm -space-x-px text-gray-700"
    page-link-class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium hover:bg-gray-50"
    prev-link-class="relative inline-flex items-center px-3 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
    next-link-class="relative inline-flex items-center px-3 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
    break-view-link-class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700"
    active-class="bg-indigo-600 text-white hover:bg-indigo-700 border-none"
    :no-li-surround="true"
  />
</template>

<script>
import VuePaginate from 'vuejs-paginate/src/components/Paginate';
export default {
  components: {
    VuePaginate,
  },
  props: {
    prevText: {type: String, default: '&lsaquo;'},
    nextText: {type: String, default: '&rsaquo;'},
    totalPages: {type: Number, required: true},
  },
  emits: ['change'],
  methods: {
    onChange(page) {
      this.$emit('change', page);
    },
  },
}
</script>
