<template>
  <select
    class="block w-full border rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
    :class="{
      'py-0 pl-2 pr-6 h-full border-transparent bg-transparent text-gray-500': inGroup,
      'mt-1 px-3 py-2 border-gray-300 bg-white shadow-sm': !inGroup,
    }"

    @update:modelValue="$emit('update:modelValue', $event.target.value)"
  >
    <slot :value="modelValue" />
  </select>
</template>

<script>
export default {
  props: {
    inGroup: {type: Boolean, default: false},
    modelValue: {type: null, default: ''},
  },
  emits: ['update:modelValue'],
}
</script>

<style>

</style>
