<template>
  <tr>
    <td
      v-for="column in columns"
      :key="column"
      class="px-6 py-4 whitespace-nowrap"
    >
      <slot
        :name="column"
        :row="row"
      >
        {{ row[column] }}
      </slot>
    </td>
  </tr>
</template>

<script>
export default {
  props: {
    columns: {type: Array, required: true},
    row: {type: Object, required: true},
  },
}
</script>

<style>

</style>
