<template>
  <div class="flex flex-col">
    <div class="-my-2 sm:mx-1 shadow border-b border-gray-200 sm:rounded-lg">
      <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full">
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    v-for="column in columns"
                    :key="column"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    scope="col"
                    v-text="getHeading(column)"
                  />
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <app-table-row
                  v-for="row in data"
                  v-show="data.length"
                  :key="row.id"
                  :columns="columns"
                  :row="row"
                >
                  <template
                    v-for="column in columns"
                    :key="column"
                    #[column]
                  >
                    <slot
                      :name="column"
                      :row="row"
                    />
                  </template>
                </app-table-row>
                <tr v-show="!data.length">
                  <td
                    class="text-center px-6 py-4 whitespace-nowrap text-gray-400"
                    :colspan="columns.length"
                  >
                    No hay resultados
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <app-table-footer
        v-if="withFooter"
        :page="page"
        :per-page="perPage"
        :total-records="totalRecords"
        @change:page="$emit('change:page', $event)"
      />
    </div>
  </div>
</template>

<script>
import AppTableFooter from './AppTableFooter.vue';
import AppTableRow from './AppTableRow.vue';
export default {
  components: { AppTableRow, AppTableFooter },
  props: {
    columns: {type: Array, required: true},
    data: {type: Array, required: true},
    options: {type: Object, default: () => ({})},
    page: {type: Number, default: 1},
    perPage: {type: Number, default: 10},
    totalRecords: {type: Number, default: 0},
    withFooter: {type: Boolean, default: false},
  },
  emits: ['change:page'],
  methods: {
    getHeading(column) {
      if (this.options.headings && Object.prototype.hasOwnProperty.call(this.options.headings, column)) {
        return this.options.headings[column];
      }
      return column.replace('_', ' ');
    }
  },
}
</script>

<style>

</style>
