<template>
  <card-footer>
    <app-paginator-small
      class="sm:hidden"
      :page="page"
      @change="$emit('change:page', $event)"
    />
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Mostrando
          <span class="font-medium">{{ startBoundary }}</span>
          a
          <span class="font-medium">{{ endBoundary }}</span>
          de
          <span class="font-medium">{{ totalRecords }}</span>
          resultados
        </p>
      </div>
      <app-paginator
        :total-pages="totalPages"
        @change="$emit('change:page', $event)"
      />
    </div>
  </card-footer>
</template>

<script>
import AppPaginator from './AppPaginator.vue';
import AppPaginatorSmall from './AppPaginatorSmall.vue';
import CardFooter from './CardFooter.vue';
export default {
  components: { CardFooter, AppPaginator, AppPaginatorSmall },
  props: {
    page: {type: Number, required: true},
    perPage: {type: Number, required: true},
    totalRecords: {type: Number, required: true},
  },
  emits: ['change:page'],
  computed: {
    endBoundary() {
      let endBoundary = this.perPage * this.page;
      return endBoundary > this.totalRecords ? this.totalRecords : endBoundary;
    },
    startBoundary() {
      return (this.perPage * (this.page - 1)) + 1;
    },
    totalPages() {
      return Math.ceil(this.totalRecords / this.perPage);
    },
  },
}
</script>

<style>

</style>
