<template>
  <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <slot />
  </div>
</template>

<script>
export default {
}
</script>

<style>

</style>
