<template>
  <div class="mt-10 sm:mt-0 bg-gray-50 sm:px-4">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <slot name="panel" />
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
