<template>
  <container-form>
    <template #panel>
      <form-panel>Datos generales del paciente</form-panel>
    </template>
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:rounded-md">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-2">
            <app-label for="date">
              Fecha
            </app-label>
            <app-input
              id="date"
              :model-value="date"
              name="iec[date]"
              type="date"
              required
              aria-required="true"
              @update:modelValue="$emit('update:date', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-4">
            <app-label for="name">
              Nombres y apellidos
            </app-label>
            <app-input
              id="name"
              :model-value="name"
              name="contact[name]"
              type="text"
              autocomplete="given-name"
              autofocus
              required
              aria-required="true"
              @update:modelValue="$emit('update:name', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="eps">
              EPS
            </app-label>
            <app-input
              id="eps"
              :model-value="eps"
              name="contact[eps]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:eps', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="identificationTypeId">
              Tipo de documento
            </app-label>
            <select-identifications-types
              id="identificationTypeId"
              :model-value="identificationTypeId"
              name="contact[identification_type_id]"
              required
              aria-required="true"
              @update:modelValue="$emit('update:identificationTypeId', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="identification">
              Documento de identidad
            </app-label>
            <app-input
              id="identification"
              :model-value="identification"
              name="contact[identification]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:identification', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="birthdate">
              Fecha nacimiento
            </app-label>
            <app-input
              id="birthdate"
              :model-value="birthdate"
              name="contact[birthdate]"
              type="date"
              required
              aria-required="true"
              @update:modelValue="$emit('update:birthdate', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-1">
            <app-label>
              Edad
            </app-label>
            <span class="block py-2 px-2">{{ age }}</span>
          </div>
          <div class="col-span-6 sm:col-span-1">
            <app-label for="gender">
              Sexo
            </app-label>
            <select-genders
              id="gender"
              :model-value="gender"
              name="contact[gender]"
              required
              aria-required="true"
              @update:modelValue="$emit('update:gender', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="nationality">
              Nacionalidad
            </app-label>
            <app-input
              id="nationality"
              :model-value="nationality"
              name="contact[nationality]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:nationality', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-6">
            <app-label for="address">
              Dirección
            </app-label>
            <app-input
              id="address"
              :model-value="address"
              name="contact[address]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:address', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="region">
              Departamento
            </app-label>
            <app-input
              id="region"
              :model-value="region"
              name="contact[region]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:region', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="city">
              Municipio
            </app-label>
            <app-input
              id="city"
              :model-value="city"
              name="contact[city]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:city', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="neighborhood">
              Barrio
            </app-label>
            <app-input
              id="neighborhood"
              :model-value="neighborhood"
              name="contact[neighborhood]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:neighborhood', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="zone">
              Zona de residencia
            </app-label>
            <app-select
              id="zone"
              :model-value="zone"
              name="contact[zone]"
              required
              aria-required="true"
              @update:modelValue="$emit('update:zone', $event)"
            >
              <template #default="{ value }">
                <option
                  value="Urbana"
                  :selected="value === 'Urbana'"
                  v-text="'Urbana'"
                />
                <option
                  value="Rural"
                  :selected="value === 'Rural'"
                  v-text="'Rural'"
                />
              </template>
            </app-select>
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="primaryPhone">
              Tel. de contacto 1
            </app-label>
            <app-input
              id="primaryPhone"
              :model-value="primaryPhone"
              name="contact[primary_phone]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:primaryPhone', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="secondaryPhone">
              Tel. de contacto 2
            </app-label>
            <app-input
              id="secondaryPhone"
              :model-value="secondaryPhone"
              name="contact[secondary_phone]"
              type="text"
              @update:modelValue="$emit('update:secondaryPhone', $event)"
            />
          </div>
          <div class="col-span-6">
            <app-label for="occupation">
              Ocupación
            </app-label>
            <app-input
              id="occupation"
              :model-value="occupation"
              name="contact[occupation]"
              type="text"
              required
              aria-required="true"
              @update:modelValue="$emit('update:occupation', $event)"
            />
          </div>
        </div>
      </div>
    </div>
  </container-form>
</template>

<script>
import DateApi from '../DateApi';
import AppInput from './AppInput.vue';
import AppLabel from './AppLabel.vue';
import AppSelect from './AppSelect.vue';
import ContainerForm from './ContainerForm.vue';
import FormPanel from './FormPanel.vue';
import SelectGenders from './SelectGenders.vue';
import SelectIdentificationsTypes from './SelectIdentificationsTypes.vue';
export default {
  components: {
    AppInput,
    AppLabel,
    ContainerForm,
    FormPanel,
    SelectIdentificationsTypes,
    AppSelect,
    SelectGenders,
  },
  props: {
    address: {type: String, default: ''},
    birthdate: {type: String, default: ''},
    city: {type: String, default: 'Pereira'},
    date: {type: String, default: ''},
    eps: {type: String, default: ''},
    gender: {type: String, default: ''},
    id: {type: Number, default: 0},
    identification: {type: String, default: ''},
    identificationTypeId: {type: Number, default: 1},
    name: {type: String, default: ''},
    nationality: {type: String, default: 'Colombiano'},
    neighborhood: {type: String, default: ''},
    occupation: {type: String, default: ''},
    primaryPhone: {type: String, default: ''},
    region: {type: String, default: 'Risaralda'},
    secondaryPhone: {type: String, default: ''},
    zone: {type: String, default: 'Urbana'},
  },
  emits: [
    'update:date',
    'update:name',
    'update:eps',
    'update:identificationTypeId',
    'update:identification',
    'update:birthdate',
    'update:gender',
    'update:nationality',
    'update:address',
    'update:region',
    'update:city',
    'update:neighborhood',
    'update:zone',
    'update:primaryPhone',
    'update:secondaryPhone',
    'update:occupation',
  ],
  computed: {
    age() {
      if (!this.birthdate) {
        return 0;
      }
      return DateApi.diffInYears(new Date(this.birthdate));
    },
  },
}
</script>

<style>

</style>
