<template>
  <div>
    <form-hospitalizations-item
      v-for="(hospitalization, index) in modelValue"
      :id="hospitalization.id"
      :key="hospitalization.id"
      v-model:date="hospitalization.date"
      v-model:institution="hospitalization.institution"
      :index="index"
      @remove="remove"
    />
    <button-primary
      class="mt-2"
      type="button"
      @click="add"
    >
      + Agregar
    </button-primary>
  </div>
</template>

<script>
import ButtonPrimary from './ButtonPrimary.vue';
import FormHospitalizationsItem from './FormHospitalizationsItem.vue';
export default {
  components: { ButtonPrimary, FormHospitalizationsItem },
  props: {
    modelValue: {type: Array, default: () => []},
  },
  emits: ['update:modelValue'],
  methods: {
    add() {
      let hospitalizations = Object.assign([], this.modelValue);
      hospitalizations.push({
        date: '',
        id: Math.random().toString(36).substring(2, 5),
        institution: '',
      });
      this.$emit('update:modelValue', hospitalizations);
    },
    remove(id) {
      this.$emit('update:modelValue', this.modelValue.filter(hospitalization => hospitalization.id !== id));
    }
  }
}
</script>

<style>

</style>
