<template>
  <div
    class="hidden sm:block bg-gray-50"
    aria-hidden="true"
  >
    <div class="py-5">
      <div class="border-t border-gray-200" />
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
