<template>
  <container-form>
    <template #panel>
      <form-panel>Antecedentes clínicos y de hospitalización</form-panel>
    </template>
    <div class="shadow sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:rounded-md">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <app-label>Hospitalizaciones</app-label>
            <form-hospitalizations
              :model-value="hospitalizations"
              @update:modelValue="$emit('update:hospitalizations', $event)"
            />
          </div>
          <div class="col-span-6">
            <app-label>Medicamentos que se encuentra tomando</app-label>
            <app-multiselect
              id="medication"
              :model-value="medication"
              name="iec[medication]"
              mode="tags"
              :options="medication.length ? medication.map(item => ({value: item, label: item})) : [{value: 'Acetaminofen', label: 'Acetaminofen'}]"
              :searchable="true"
              :create-tag="true"
              :resolve-on-load="false"
              @update:modelValue="$emit('update:medication', $event)"
            />
          </div>
          <div class="col-span-6">
            <app-label>Signos y síntomas</app-label>
            <multiselect-symptoms
              id="symptoms"
              :model-value="symptoms"
              name="symptoms"
              @update:modelValue="$emit('update:symptoms', $event)"
            />
          </div>
        </div>
      </div>
    </div>
  </container-form>
</template>

<script>
import AppLabel from './AppLabel.vue';
import AppMultiselect from './AppMultiselect.vue';
import ContainerForm from './ContainerForm.vue';
import FormHospitalizations from './FormHospitalizations.vue';
import FormPanel from './FormPanel.vue';
import MultiselectSymptoms from './MultiselectSymptoms.vue';
export default {
  components: {
    AppLabel,
    AppMultiselect,
    ContainerForm,
    FormPanel,
    FormHospitalizations,
    MultiselectSymptoms,
  },
  props: {
    hospitalizations: {type: Array, default: () => []},
    medication: {type: Array, default: () => []},
    symptoms: {type: Array, default: () => []},
  },
  emits: ['update:hospitalizations', 'update:medication', 'update:symptoms'],
}
</script>

<style>

</style>
