<template>
  <div class="grid grid-cols-6 gap-6">
    <div class="col-span-6">
      <div class="relative">
        <h4 class="text-lg font-medium leading-6">
          Contacto {{ index + 1 }}
        </h4>
        <span
          class="px-1 rounded absolute top-0 right-0 cursor-pointer hover:bg-gray-200"
          @click="$emit('remove', id)"
        >
          <font-awesome-icon :icon="iconTimes" />
        </span>
      </div>
    </div>
    <div class="col-span-6 sm:col-span-4">
      <input
        v-if="isNumber(id)"
        :name="`contacts[${index}][id]`"
        type="hidden"
        :value="id"
      >
      <app-label :for="'name' + id">
        Nombres y apellidos
      </app-label>
      <app-input
        :id="'name' + id"
        :model-value="name"
        :name="`contacts[${index}][name]`"
        type="text"
        autocomplete="given-name"
        autofocus
        required
        aria-required="true"
        @update:modelValue="$emit('update:name', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-2">
      <app-label :for="'identification' + id">
        Documento de identidad
      </app-label>
      <div class="mt-1 relative rounded-md shadow-sm">
        <div class="absolute inset-y-0 left-0 flex items-center">
          <app-label
            class="sr-only"
            :for="'identificationTypeId' + id"
          >
            Tipo de documento
          </app-label>
          <select-identifications-types
            :id="'identificationTypeId' + id"
            :model-value="identificationTypeId"
            :in-group="true"
            :name="`contacts[${index}][identification_type_id]`"
            required
            aria-required="true"
            @update:modelValue="$emit('update:identificationTypeId', $event)"
          />
        </div>
        <app-input
          :id="'identification' + id"
          :model-value="identification"
          class="pl-14"
          :name="`contacts[${index}][identification]`"
          type="text"
          required
          aria-required="true"
          @update:modelValue="$emit('update:identification', $event)"
        />
      </div>
    </div>
    <div class="col-span-6 sm:col-span-2">
      <app-label :for="'eps' + id">
        EPS
      </app-label>
      <app-input
        :id="'eps' + id"
        :model-value="eps"
        :name="`contacts[${index}][eps]`"
        type="text"
        required
        aria-required="true"
        @update:modelValue="$emit('update:eps', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-1">
      <app-label :for="'age' + id">
        Edad
      </app-label>
      <div class="mt-1 relative rounded-md shadow-sm">
        <app-input
          :id="'age' + id"
          :model-value="age"
          :name="`contacts[${index}][age]`"
          type="number"
          min="0"
          required
          aria-required="true"
          @update:modelValue="$emit('update:age', $event)"
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <app-label
            class="sr-only"
            :for="'age_measure' + id"
          >
            Medida
          </app-label>
          <app-select
            :id="'age_measure' + id"
            :model-value="ageMeasure"
            :in-group="true"
            :name="`contacts[${index}][age_measure]`"
            required
            aria-required="true"
            @update:modelValue="$emit('update:ageMeasure', $event)"
          >
            <template #default="{ value }">
              <option
                value="year"
                :selected="value === 'year'"
                v-text="'Años'"
              />
              <option
                value="month"
                :selected="value === 'month'"
                v-text="'Meses'"
              />
            </template>
          </app-select>
        </div>
      </div>
    </div>
    <div class="col-span-6 sm:col-span-1">
      <app-label :for="'gender' + id">
        Sexo
      </app-label>
      <select-genders
        :id="'gender' + id"
        :model-value="gender"
        :name="`contacts[${index}][gender]`"
        required
        aria-required="true"
        @update:modelValue="$emit('update:gender', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-2">
      <app-label :for="'primaryPhone' + id">
        Teléfono
      </app-label>
      <app-input
        :id="'primaryPhone' + id"
        :model-value="primaryPhone"
        :name="`contacts[${index}][primary_phone]`"
        type="text"
        required
        aria-required="true"
        @update:modelValue="$emit('update:primaryPhone', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-2">
      <app-label :for="'contactDate' + id">
        Fecha de contacto positivo
      </app-label>
      <app-input
        :id="'contactDate' + id"
        :model-value="contactDate"
        :name="`contacts[${index}][contact_date]`"
        type="date"
        required
        aria-required="true"
        @update:modelValue="$emit('update:contactDate', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-2">
      <app-label :for="'sampleDate' + id">
        Fecha de toma de muestra
      </app-label>
      <app-input
        :id="'sampleDate' + id"
        :model-value="sampleDate"
        :name="`contacts[${index}][sample_date]`"
        type="date"
        @update:modelValue="$emit('update:sampleDate', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-2">
      <app-label :for="'sampleResult' + id">
        Resultado de la muestra
      </app-label>
      <app-select
        :id="'sampleResult' + id"
        :model-value="sampleResult"
        :name="`contacts[${index}][sample_result]`"
        @update:modelValue="$emit('update:sampleResult', $event)"
      >
        <template #default="{ value }">
          <option
            value=""
            :selected="value === ''"
            v-text="''"
          />
          <option
            value="Positivo"
            :selected="value === 'Positivo'"
            v-text="'Positivo'"
          />
          <option
            value="Negativo"
            :selected="value === 'Negativo'"
            v-text="'Negativo'"
          />
          <option
            value="Pendiente"
            :selected="value === 'Pendiente'"
            v-text="'Pendiente'"
          />
        </template>
      </app-select>
    </div>
    <div class="col-span-6 sm:col-span-4">
      <app-label :for="'address' + id">
        Dirección
      </app-label>
      <app-input
        :id="'address' + id"
        :model-value="address"
        :name="`contacts[${index}][address]`"
        type="text"
        required
        aria-required="true"
        @update:modelValue="$emit('update:address', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-2">
      <app-label :for="'relationship' + id">
        Parentesco
      </app-label>
      <app-input
        :id="'relationship' + id"
        :model-value="relationship"
        :name="`contacts[${index}][relationship]`"
        type="text"
        required
        aria-required="true"
        @update:modelValue="$emit('update:relationship', $event)"
      />
    </div>
    <div class="col-span-6">
      <app-label :for="'symptoms' + id">
        Síntomas
      </app-label>
      <multiselect-symptoms
        :id="'symptoms' + id"
        :model-value="symptoms"
        :name="`contacts[${index}][symptoms]`"
        @update:modelValue="$emit('update:symptoms', $event)"
      />
    </div>
    <div class="col-span-6">
      <app-label :for="'comorbidities' + id">
        Antecedentes
      </app-label>
      <multiselect-comorbidities
        :id="'comorbidities' + id"
        :model-value="comorbidities"
        :name="`contacts[${index}][comorbidities]`"
        @update:modelValue="$emit('update:comorbidities', $event)"
      />
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faTimes } from '@fortawesome/free-solid-svg-icons';
import AppInput from './AppInput.vue';
import AppLabel from './AppLabel.vue';
import MultiselectComorbidities from './MultiselectComorbidities.vue';
import MultiselectSymptoms from './MultiselectSymptoms.vue';
import SelectIdentificationsTypes from './SelectIdentificationsTypes.vue';
import SelectGenders from './SelectGenders.vue';
import AppSelect from './AppSelect.vue';
export default {
  components: {
    AppInput,
    AppLabel,
    FontAwesomeIcon,
    MultiselectSymptoms,
    MultiselectComorbidities,
    SelectIdentificationsTypes,
    SelectGenders,
    AppSelect,
  },
  props: {
    address: {type: String, default: ''},
    age: {type: Number, default: 0},
    ageMeasure: {type: String, default: 'year'},
    comorbidities: {type: Array, default: () => []},
    contactDate: {type: String, default: ''},
    eps: {type: String, default: ''},
    gender: {type: String, default: 'F'},
    id: {type: [String, Number], required: true},
    identification: {type: String, default: ''},
    identificationTypeId: {type: Number, default: 1},
    index: {type: Number, required: true},
    name: {type: String, default: ''},
    primaryPhone: {type: String, default: ''},
    relationship: {type: String, default: ''},
    sampleDate: {type: String, default: ''},
    sampleResult: {type: String, default: ''},
    symptoms: {type: Array, default: () => []},
  },
  emits: [
    'remove',
    'update:address',
    'update:age',
    'update:ageMeasure',
    'update:comorbidities',
    'update:contactDate',
    'update:eps',
    'update:gender',
    'update:identification',
    'update:identificationTypeId',
    'update:name',
    'update:primaryPhone',
    'update:relationship',
    'update:sampleDate',
    'update:sampleResult',
    'update:symptoms',
  ],
  data() {
    return {
      iconTimes: faTimes,
    };
  },
}
</script>

<style>

</style>
