<template>
  <container-form>
    <template #panel>
      <form-panel>Nota de enfermería</form-panel>
    </template>
    <div class="shadow sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:rounded-md">
        <app-textarea
          :model-value="modelValue"
          rows="7"
          name="iec[nursing_note]"
          @update:modelValue="$emit('update:modelValue', $event)"
        />
      </div>
    </div>
  </container-form>
</template>

<script>
import AppTextarea from './AppTextarea.vue';
import ContainerForm from './ContainerForm.vue';
import FormPanel from './FormPanel.vue';
export default {
  components: {
    ContainerForm,
    FormPanel,
    AppTextarea,
  },
  props: {
    modelValue: {type: String, default: ''},
  },
  emits: ['update:modelValue'],
}
</script>

<style>

</style>
