<template>
  <container-form>
    <template #panel>
      <form-panel>Antecedentes de riesgo y exposición</form-panel>
    </template>
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:rounded-md">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-2">
            <app-label for="symptomDate">
              Fecha de inicio de síntomas
            </app-label>
            <app-input
              id="symptomDate"
              :model-value="symptomDate"
              name="iec[symptom_start_date]"
              type="date"
              required
              aria-required="true"
              @update:modelValue="$emit('update:symptomDate', $event)"
            />
          </div>
          <div class="col-span-6">
            <app-label>Desplazamientos en los últimos días</app-label>
            <form-displacements
              :model-value="displacements"
              @update:modelValue="$emit('update:displacements', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-4">
            <app-label for="withPositiveContact">
              ¿Tuvo contacto con un caso positivo o probable de Covid-19?
            </app-label>
            <app-input-checkbox
              id="withPositiveContact"
              :model-value="withPositiveContact"
              class="mt-1 h-8 w-8"
              name="iec[with_positive_contact]"
              @update:modelValue="$emit('update:withPositiveContact', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-2">
            <app-label for="positiveContactPlace">
              Lugar de contacto
            </app-label>
            <app-input
              id="positiveContactPlace"
              :model-value="positiveContactPlace"
              name="iec[positive_contact_place]"
              type="text"
              @update:modelValue="$emit('update:positiveContactPlace', $event)"
            />
          </div>
        </div>
      </div>
    </div>
  </container-form>
</template>

<script>
import AppInput from './AppInput.vue';
import AppInputCheckbox from './AppInputCheckbox.vue';
import AppLabel from './AppLabel.vue';
import ContainerForm from './ContainerForm.vue';
import FormDisplacements from './FormDisplacements.vue';
import FormPanel from './FormPanel.vue';
export default {
  components: {
    AppInput,
    AppInputCheckbox,
    AppLabel,
    ContainerForm,
    FormDisplacements,
    FormPanel,
  },
  props: {
    displacements: {type: Array, default: () => []},
    positiveContactPlace: {type: String, default: ''},
    symptomDate: {type: String, default: ''},
    withPositiveContact: {type: Boolean, default: false},
  },
  emits: ['update:displacements', 'update:positiveContactPlace', 'update:withPositiveContact', 'update:symptomDate'],
}
</script>

<style>

</style>
