<template>
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <button-primary type="submit">
      <slot />
    </button-primary>
  </div>
</template>

<script>
import ButtonPrimary from './ButtonPrimary.vue';
export default {
  components: { ButtonPrimary },

}
</script>

<style>

</style>
