<template>
  <form
    class="relative"
    :action="action"
    method="POST"
  >
    <slot name="token" />
    <input
      name="_method"
      type="hidden"
      :value="method"
    >
    <div
      v-show="!isEdit && hasDraft"
      class="absolute top-0 right-0"
    >
      <button-primary
        type="button"
        @click="loadDraft"
      >
        Cargar Borrador
      </button-primary>
      <button-danger
        class="ml-2"
        type="button"
        @click="discardDraft"
      >
        Descartar Borrador
      </button-danger>
    </div>
    <form-contact
      v-model:address="address"
      v-model:birthdate="birthdate"
      v-model:city="city"
      v-model:date="date"
      v-model:eps="eps"
      v-model:gender="gender"
      v-model:identification="identification"
      v-model:identification-type-id="identificationTypeId"
      v-model:name="name"
      v-model:nationality="nationality"
      v-model:neighborhood="neighborhood"
      v-model:occupation="occupation"
      v-model:primary-phone="primaryPhone"
      v-model:region="region"
      v-model:secondary-phone="secondaryPhone"
      v-model:zone="zone"
      class="sm:pt-5"
    />
    <form-panel-separator />
    <form-history-risk
      v-model:displacements="displacements"
      v-model:positive-contact-place="positiveContactPlace"
      v-model:symptom-date="symptomDate"
      v-model:with-positive-contact="withPositiveContact"
    />
    <form-panel-separator />
    <form-history-medical
      v-model:hospitalizations="hospitalizations"
      v-model:medication="medication"
      v-model:symptoms="symptoms"
    />
    <form-panel-separator />
    <form-comorbidities
      v-model:comorbidities="comorbidities"
      v-model:pregnancy-weeks="pregnancyWeeks"
    />
    <form-panel-separator />
    <form-laboratory
      v-model:exam-id="examId"
      v-model:sample-date="sampleDate"
      v-model:sample-laboratory="sampleLaboratory"
      v-model:sample-type-id="sampleTypeId"
    />
    <form-panel-separator />
    <form-note-nursing v-model="nursingNote" />
    <form-panel-separator />
    <form-contacts-related
      v-model:contacts="contacts"
      :address="address"
      :contact-date="symptomDate"
      :eps="eps"
      :primary-phone="primaryPhone"
    />
    <form-button-submit>
      Guardar
    </form-button-submit>
  </form>
</template>

<script>
import ButtonDanger from './ButtonDanger.vue';
import ButtonPrimary from './ButtonPrimary.vue';
import FormButtonSubmit from './FormButtonSubmit.vue';
import FormComorbidities from './FormComorbidities.vue';
import FormContact from './FormContact.vue';
import FormContactsRelated from './FormContactsRelated.vue';
import FormHistoryMedical from './FormHistoryMedical.vue';
import FormHistoryRisk from './FormHistoryRisk.vue';
import FormLaboratory from './FormLaboratory.vue';
import FormNoteNursing from './FormNoteNursing.vue';
import FormPanelSeparator from './FormPanelSeparator.vue';
export default {
  components: {
    FormContact,
    FormButtonSubmit,
    FormPanelSeparator,
    FormHistoryMedical,
    FormHistoryRisk,
    FormComorbidities,
    FormLaboratory,
    FormContactsRelated,
    FormNoteNursing,
    ButtonDanger,
    ButtonPrimary,
  },
  props: {
    id: {type: Number, default: 0},
    initialAddress: {type: String, default: ''},
    initialBirthdate: {type: String, default: ''},
    initialCity: {type: String, default: 'Pereira'},
    initialDate: {type: String, default: new Date().toISOString().split('T')[0]},
    initialComorbidities: {type: Array, default: () => []},
    initialContacts: {type: Array, default: () => [{id: Math.random().toString(36).substring(2, 5)}]},
    initialDisplacements: {type: Array, default: () => []},
    initialEps: {type: String, default: ''},
    initialExamId: {type: Number, default: 1},
    initialGender: {type: String, default: ''},
    initialHospitalizations: {type: Array, default: () => []},
    initialIdentification: {type: String, default: ''},
    initialIdentificationTypeId: {type: Number, default: 1},
    initialMedication: {type: Array, default: () => []},
    initialName: {type: String, default: ''},
    initialNationality: {type: String, default: 'Colombiano'},
    initialNeighborhood: {type: String, default: ''},
    initialNursingNote: {type: String, default: ''},
    initialOccupation: {type: String, default: ''},
    initialPositiveContactPlace: {type: String, default: ''},
    initialPregnancyWeeks: {type: Number, default: 0},
    initialPrimaryPhone: {type: String, default: ''},
    initialRegion: {type: String, default: 'Risaralda'},
    initialSampleDate: {type: String, default: ''},
    initialSampleLaboratory: {type: String, default: ''},
    initialSampleTypeId: {type: Number, default: 2},
    initialSecondaryPhone: {type: String, default: ''},
    initialSymptomDate: {type: String, default: ''},
    initialSymptoms: {type: Array, default: () => []},
    initialWithPositiveContact: {type: Boolean, default: false},
    initialZone: {type: String, default: 'Urbana'},
  },
  data() {
    return {
      address: this.initialAddress,
      birthdate: this.initialBirthdate,
      city: this.initialCity,
      comorbidities: this.initialComorbidities,
      contacts: this.initialContacts,
      date: this.initialDate,
      draft: {},
      displacements: this.initialDisplacements,
      eps: this.initialEps,
      examId: this.initialExamId,
      gender: this.initialGender,
      hospitalizations: this.initialHospitalizations,
      identification: this.initialIdentification,
      identificationTypeId: this.initialIdentificationTypeId,
      medication: this.initialMedication,
      name: this.initialName,
      nationality: this.initialNationality,
      neighborhood: this.initialNeighborhood,
      nursingNote: this.initialNursingNote,
      occupation: this.initialOccupation,
      positiveContactPlace: this.initialPositiveContactPlace,
      pregnancyWeeks: this.initialPregnancyWeeks,
      primaryPhone: this.initialPrimaryPhone,
      region: this.initialRegion,
      sampleDate: this.initialSampleDate,
      sampleLaboratory: this.initialSampleLaboratory,
      sampleTypeId: this.initialSampleTypeId,
      secondaryPhone: this.initialSecondaryPhone,
      symptomDate: this.initialSymptomDate,
      symptoms: this.initialSymptoms,
      withPositiveContact: this.initialWithPositiveContact,
      zone: this.initialZone,
    };
  },
  computed: {
    action() {
      return this.isEdit ? this.route('iecs.update', this.id) : this.route('iecs.store');
    },
    hasDraft() {
      return Boolean(Object.keys(this.draft).length);
    },
    isEdit() {
      return Boolean(this.id);
    },
    method() {
      return this.isEdit ? 'PUT' : 'POST';
    },
  },
  watch: {
    address(address) {
      this.draft.address = address;
    },
    birthdate(birthdate) {
      this.draft.birthdate = birthdate;
    },
    city(city) {
      this.draft.city = city;
    },
    comorbidities(comorbidities) {
      this.draft.comorbidities = comorbidities;
    },
    contacts(contacts) {
      this.draft.contacts = contacts;
    },
    date(date) {
      this.draft.date = date;
    },
    displacements(displacements) {
      this.draft.displacements = displacements;
    },
    draft: {
      handler(draft) {
        localStorage.setItem('iec.draft', JSON.stringify(draft));
      },
      deep: true,
    },
    eps(eps) {
      this.draft.eps = eps;
    },
    examId(examId) {
      this.draft.examId = examId;
    },
    gender(gender) {
      this.draft.gender = gender;
    },
    hospitalizations(hospitalizations) {
      this.draft.hospitalizations = hospitalizations;
    },
    identification(identification) {
      this.draft.identification = identification;
    },
    identificationTypeId(identificationTypeId) {
      this.draft.identificationTypeId = identificationTypeId;
    },
    medication(medication) {
      this.draft.medication = medication;
    },
    name(name) {
      this.draft.name = name;
    },
    nationality(nationality) {
      this.draft.nationality = nationality;
    },
    neighborhood(neighborhood) {
      this.draft.neighborhood = neighborhood;
    },
    nursingNote(nursingNote) {
      this.draft.nursingNote = nursingNote;
    },
    occupation(occupation) {
      this.draft.occupation = occupation;
    },
    positiveContactPlace(positiveContactPlace) {
      this.draft.positiveContactPlace = positiveContactPlace;
    },
    pregnancyWeeks(pregnancyWeeks) {
      this.draft.pregnancyWeeks = pregnancyWeeks;
    },
    primaryPhone(primaryPhone) {
      this.draft.primaryPhone = primaryPhone;
    },
    region(region) {
      this.draft.region = region;
    },
    sampleDate(sampleDate) {
      this.draft.sampleDate = sampleDate;
    },
    sampleLaboratory(sampleLaboratory) {
      this.draft.sampleLaboratory = sampleLaboratory;
    },
    sampleTypeId(sampleTypeId) {
      this.draft.sampleTypeId = sampleTypeId;
    },
    secondaryPhone(secondaryPhone) {
      this.draft.secondaryPhone = secondaryPhone;
    },
    symptomDate(symptomDate) {
      this.draft.symptomDate = symptomDate;
    },
    symptoms(symptoms) {
      this.draft.symptoms = symptoms;
    },
    withPositiveContact(withPositiveContact) {
      this.draft.withPositiveContact = withPositiveContact;
    },
    zone(zone) {
      this.draft.zone = zone;
    },
  },
  created() {
    this.draft = JSON.parse(localStorage.getItem('iec.draft')) || {};
  },
  methods: {
    discardDraft() {
      this.draft = {};
    },
    loadDraft() {
      if (this.draft.address) {
        this.address = this.draft.address;
      }
      if (this.draft.birthdate) {
        this.birthdate = this.draft.birthdate;
      }
      if (this.draft.city) {
        this.city = this.draft.city;
      }
      if (this.draft.comorbidities) {
        this.comorbidities = this.draft.comorbidities;
      }
      if (this.draft.contacts) {
        this.contacts = this.draft.contacts;
      }
      if (this.draft.date) {
        this.date = this.draft.date;
      }
      if (this.draft.displacements) {
        this.displacements = this.draft.displacements;
      }
      if (this.draft.eps) {
        this.eps = this.draft.eps;
      }
      if (this.draft.examId) {
        this.examId = this.draft.examId;
      }
      if (this.draft.gender) {
        this.gender = this.draft.gender;
      }
      if (this.draft.hospitalizations) {
        this.hospitalizations = this.draft.hospitalizations;
      }
      if (this.draft.identification) {
        this.identification = this.draft.identification;
      }
      if (this.draft.identificationTypeId) {
        this.identificationTypeId = this.draft.identificationTypeId;
      }
      if (this.draft.medication) {
        this.medication = this.draft.medication;
      }
      if (this.draft.name) {
        this.name = this.draft.name;
      }
      if (this.draft.nationality) {
        this.nationality = this.draft.nationality;
      }
      if (this.draft.neighborhood) {
        this.neighborhood = this.draft.neighborhood;
      }
      if (this.draft.nursingNote) {
        this.nursingNote = this.draft.nursingNote;
      }
      if (this.draft.occupation) {
        this.occupation = this.draft.occupation;
      }
      if (this.draft.positiveContactPlace) {
        this.positiveContactPlace = this.draft.positiveContactPlace;
      }
      if (this.draft.pregnancyWeeks) {
        this.pregnancyWeeks = this.draft.pregnancyWeeks;
      }
      if (this.draft.primaryPhone) {
        this.primaryPhone = this.draft.primaryPhone;
      }
      if (this.draft.region) {
        this.region = this.draft.region;
      }
      if (this.draft.sampleDate) {
        this.sampleDate = this.draft.sampleDate;
      }
      if (this.draft.sampleLaboratory) {
        this.sampleLaboratory = this.draft.sampleLaboratory;
      }
      if (this.draft.sampleTypeId) {
        this.sampleTypeId = this.draft.sampleTypeId;
      }
      if (this.draft.secondaryPhone) {
        this.secondaryPhone = this.draft.secondaryPhone;
      }
      if (this.draft.symptomDate) {
        this.symptomDate = this.draft.symptomDate;
      }
      if (this.draft.symptoms) {
        this.symptoms = this.draft.symptoms;
      }
      if (this.draft.withPositiveContact) {
        this.withPositiveContact = this.draft.withPositiveContact;
      }
      if (this.draft.zone) {
        this.zone = this.draft.zone;
      }
    },
  },
}
</script>

<style>

</style>
