<template>
  <container-form>
    <template #panel>
      <form-panel>Comorbilidades / Factores de riesgo</form-panel>
    </template>
    <div class="shadow sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:rounded-md">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <multiselect-comorbidities
              id="comorbidities"
              :model-value="comorbidities"
              name="comorbidities"
              @update:modelValue="$emit('update:comorbidities', $event)"
            />
          </div>
          <div
            v-if="hasPregnancy"
            class="col-span-6 sm:col-span-1"
          >
            <app-label for="pregnancyWeeks">
              Semanas de embarazo
            </app-label>
            <app-input
              id="pregnancyWeeks"
              :model-value="pregnancyWeeks"
              name="pregnancy_weeks"
              type="number"
              min="0"
              :required="true"
              :aria-required="true"
              @update:modelValue="$emit('update:pregnancyWeeks', $event)"
            />
          </div>
        </div>
      </div>
    </div>
  </container-form>
</template>

<script>
import { COMORBIDITY } from '../C';
import AppInput from './AppInput.vue';
import AppLabel from './AppLabel.vue';
import ContainerForm from './ContainerForm.vue';
import FormPanel from './FormPanel.vue';
import MultiselectComorbidities from './MultiselectComorbidities.vue';
export default {
  components: {
    ContainerForm,
    FormPanel,
    MultiselectComorbidities,
    AppInput,
    AppLabel,
  },
  props: {
    comorbidities: {type: Array, default: () => []},
    pregnancyWeeks: {type: Number, default: 0},
  },
  emits: ['update:comorbidities', 'update:pregnancyWeeks'],
  computed: {
    hasPregnancy() {
      return this.comorbidities.includes(COMORBIDITY.PREGNANCY);
    },
  },
}
</script>

<style>

</style>
