<template>
  <div class="grid grid-cols-6 gap-6">
    <div class="col-span-6 sm:col-span-2">
      <input
        v-if="isNumber(id)"
        :name="`hospitalizations[${index}][id]`"
        type="hidden"
        :value="id"
      >
      <app-label :for="'hospitalizationDate' + id">
        Fecha de consulta {{ index + 1 }}
      </app-label>
      <app-input
        :id="'hospitalizationDate' + id"
        :model-value="date"
        :name="`hospitalizations[${index}][date]`"
        type="date"
        required
        aria-required="true"
        @update:modelValue="$emit('update:date', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-3">
      <app-label :for="'hospitalizationInstitution' + id">
        Institución de salud
      </app-label>
      <app-input
        :id="'hospitalizationInstitution' + id"
        :model-value="institution"
        :name="`hospitalizations[${index}][institution]`"
        type="text"
        required
        aria-required="true"
        @update:modelValue="$emit('update:institution', $event)"
      />
    </div>
    <div class="col-span-6 sm:col-span-1">
      <button-danger
        class="mt-6"
        @click="remove"
      >
        <font-awesome-icon :icon="iconTrash" />
      </button-danger>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faTrash } from '@fortawesome/free-solid-svg-icons';
import AppInput from './AppInput.vue';
import AppLabel from './AppLabel.vue';
import ButtonDanger from './ButtonDanger.vue';
export default {
  components: { AppInput, AppLabel, ButtonDanger, FontAwesomeIcon },
  props: {
    date: {type: String, default: ''},
    id: {type: [Number, String], required: true},
    index: {type: Number, required: true},
    institution: {type: String, default: ''},
  },
  emits: ['remove', 'update:date', 'update:institution'],
  data() {
    return {
      iconTrash: faTrash,
    };
  },
  methods: {
    remove() {
      this.$emit('remove', this.id);
    },
  },
}
</script>

<style>

</style>
