<template>
  <div class="px-4 sm:px-0">
    <h3 class="text-lg font-medium leading-6 text-gray-900">
      <slot />
    </h3>
    <p class="mt-1 text-sm text-gray-600">
      <slot name="content" />
    </p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
