<template>
  <container-form>
    <template #panel>
      <form-panel>Datos de laboratorio</form-panel>
    </template>
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:rounded-md">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <app-label for="sampleDate">
              Fecha de toma de primera muestra
            </app-label>
            <app-input
              id="sampleDate"
              :model-value="sampleDate"
              name="iec[sample_date]"
              type="date"
              required
              aria-required="true"
              @update:modelValue="$emit('update:sampleDate', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-label for="sampleLaboratory">
              Laboratorio
            </app-label>
            <app-input
              id="sampleLaboratory"
              :model-value="sampleLaboratory"
              name="iec[sample_laboratory]"
              type="text"
              @update:modelValue="$emit('update:sampleLaboratory', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-label for="sampleTypeId">
              Tipo de muestra
            </app-label>
            <select-samples-types
              id="sampleTypeId"
              :model-value="sampleTypeId"
              name="iec[sample_type_id]"
              :required="true"
              :aria-required="true"
              @update:modelValue="$emit('update:sampleTypeId', $event)"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-label for="examId">
              Examen
            </app-label>
            <select-exams
              id="examId"
              :model-value="examId"
              name="iec[exam_id]"
              :required="true"
              :aria-required="true"
              @update:modelValue="$emit('update:examId', $event)"
            />
          </div>
        </div>
      </div>
    </div>
  </container-form>
</template>

<script>
import AppInput from './AppInput.vue';
import AppLabel from './AppLabel.vue';
import ContainerForm from './ContainerForm.vue';
import FormPanel from './FormPanel.vue';
import SelectExams from './SelectExams.vue';
import SelectSamplesTypes from './SelectSamplesTypes.vue';
export default {
  components: {
    AppInput,
    AppLabel,
    ContainerForm,
    FormPanel,
    SelectSamplesTypes,
    SelectExams,
  },
  props: {
    examId: {type: Number, default: 1},
    sampleDate: {type: String, default: ''},
    sampleLaboratory: {type: String, default: ''},
    sampleTypeId: {type: Number, default: 2},
  },
  emits: ['update:examId', 'update:sampleDate', 'update:sampleLaboratory', 'update:sampleTypeId'],
}
</script>

<style>

</style>
