<template>
  <div>
    <form-displacements-item
      v-for="(displacement, index) in modelValue"
      :id="displacement.id"
      :key="displacement.id"
      v-model:country="displacement.country"
      v-model:city="displacement.city"
      v-model:start-date="displacement.startDate"
      v-model:end-date="displacement.endDate"
      :index="index"
      class="pt-4"
      @remove="remove"
    />
    <button-primary
      class="mt-2"
      type="button"
      @click="add"
    >
      + Agregar
    </button-primary>
  </div>
</template>

<script>
import ButtonPrimary from './ButtonPrimary.vue';
import FormDisplacementsItem from './FormDisplacementsItem.vue';
export default {
  components: { ButtonPrimary, FormDisplacementsItem },
  props: {
    modelValue: {type: Array, default: () => []},
  },
  emits: ['update:modelValue'],
  methods: {
    add() {
      let displacements = Object.assign([], this.modelValue);
      displacements.push({
        city: '',
        country: 'Colombia',
        endDate: '',
        id: Math.random().toString(36).substring(2, 5),
        startDate: '',
      });
      this.$emit('update:modelValue', displacements);
    },
    remove(id) {
      this.$emit('update:modelValue', this.modelValue.filter(displacement => displacement.id !== id));
    },
  }
}
</script>

<style>

</style>
