<template>
  <div>
    <div
      v-for="(contact, index) in modelValue"
      :key="contact.id"
    >
      <hr
        v-show="index"
        class="my-5 border-gray-200"
      >
      <form-contacts-iec-item
        :id="contact.id"
        v-model:address="contact.address"
        v-model:age.number="contact.age"
        v-model:age-measure="contact.ageMeasure"
        v-model:comorbidities="contact.comorbidities"
        v-model:contact-date="contact.contactDate"
        v-model:eps="contact.eps"
        v-model:gender="contact.gender"
        v-model:identification="contact.identification"
        v-model:identification-type-id="contact.identificationTypeId"
        v-model:name="contact.name"
        v-model:primary-phone="contact.primaryPhone"
        v-model:relationship="contact.relationship"
        v-model:sample-date="contact.sampleDate"
        v-model:sample-result="contact.sampleResult"
        v-model:symptoms="contact.symptoms"
        :index="index"
        @remove="remove"
      />
    </div>
    <button-primary
      class="mt-2"
      type="button"
      @click="add"
    >
      + Agregar
    </button-primary>
  </div>
</template>

<script>
import ButtonPrimary from './ButtonPrimary.vue';
import FormContactsIecItem from './FormContactsIecItem.vue';
export default {
  components: { FormContactsIecItem, ButtonPrimary },
  props: {
    address: {type: String, default: ''},
    contactDate: {type: String, default: ''},
    eps: {type: String, default: ''},
    modelValue: {type: Array, default: () => []},
    primaryPhone: {type: String, default: ''},
  },
  emits: ['update:modelValue'],
  data() {
    return {
      contacts: this.modelValue,
    };
  },
  methods: {
    add() {
      let contacts = Object.assign([], this.modelValue);
      contacts.push({
        address: this.address,
        age: 0,
        ageMeasure: 'year',
        comorbidities: [],
        contactDate: this.contactDate,
        eps: this.eps,
        gender: 'F',
        id: Math.random().toString(36).substring(2, 5),
        identification: '',
        identificationTypeId: 1,
        name: '',
        primaryPhone: this.primaryPhone,
        relationship: '',
        sampleDate: '',
        sampleResult: '',
        symptoms: [],
      });
      this.$emit('update:modelValue', contacts);
    },
    remove(id) {
      this.$emit('update:modelValue', this.modelValue.filter(contact => contact.id !== id));
    }
  }
}
</script>

<style>

</style>
