<template>
  <container-form>
    <template #panel>
      <form-panel>Contactos estrechos</form-panel>
    </template>
    <div class="shadow sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:rounded-md">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <form-contacts-iec
              :address="address"
              :contact-date="contactDate"
              :eps="eps"
              :model-value="contacts"
              :primary-phone="primaryPhone"
              @update:modelValue="$emit('update:contacts', $event)"
            />
          </div>
        </div>
      </div>
    </div>
  </container-form>
</template>

<script>
import ContainerForm from './ContainerForm.vue';
import FormContactsIec from './FormContactsIec.vue';
import FormPanel from './FormPanel.vue';
export default {
  components: {
    ContainerForm,
    FormPanel,
    FormContactsIec,
  },
  props: {
    address: {type: String, default: ''},
    contactDate: {type: String, default: ''},
    contacts: {type: Array, default: () => []},
    eps: {type: String, default: ''},
    primaryPhone: {type: String, default: ''},
  },
  emits: ['update:contacts'],
}
</script>

<style>

</style>
