<template>
  <div class="grid grid-cols-9 gap-6">
    <div class="col-span-9 sm:col-span-2">
      <input
        v-if="isNumber(id)"
        :name="`displacements[${index}][id]`"
        type="hidden"
        :value="id"
      >
      <app-label :for="'displacementCountry' + id">
        País {{ index + 1 }}
      </app-label>
      <app-input
        :id="'displacementCountry' + id"
        :model-value="country"
        :name="`displacements[${index}][country]`"
        type="text"
        required
        aria-required="true"
        @update:modelValue="$emit('update:country', $event)"
      />
    </div>
    <div class="col-span-9 sm:col-span-2">
      <app-label :for="'displacementCity' + id">
        Ciudad
      </app-label>
      <app-input
        :id="'displacementCity' + id"
        :model-value="city"
        :name="`displacements[${index}][city]`"
        type="text"
        required
        aria-required="true"
        @update:modelValue="$emit('update:city', $event)"
      />
    </div>
    <div class="col-span-9 sm:col-span-2">
      <app-label :for="'displacementStartDate' + id">
        Desde
      </app-label>
      <app-input
        :id="'displacementStartDate' + id"
        :model-value="startDate"
        :name="`displacements[${index}][start_date]`"
        type="date"
        required
        aria-required="true"
        @update:modelValue="$emit('update:startDate', $event)"
      />
    </div>
    <div class="col-span-9 sm:col-span-2">
      <app-label :for="'displacementEndDate' + id">
        Hasta
      </app-label>
      <app-input
        :id="'displacementEndDate' + id"
        :model-value="endDate"
        :name="`displacements[${index}][end_date]`"
        type="date"
        required
        aria-required="true"
        @update:modelValue="$emit('update:endDate', $event)"
      />
    </div>
    <div class="col-span-9 sm:col-span-1">
      <button-danger
        class="mt-6"
        @click="remove"
      >
        <font-awesome-icon :icon="iconTrash" />
      </button-danger>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faTrash } from '@fortawesome/free-solid-svg-icons';
import AppInput from './AppInput.vue';
import AppLabel from './AppLabel.vue';
import ButtonDanger from './ButtonDanger.vue';
export default {
  components: { AppInput, AppLabel, ButtonDanger, FontAwesomeIcon },
  props: {
    country: {type: String, default: ''},
    id: {type: [Number, String], required: true},
    index: {type: Number, required: true},
    city: {type: String, default: ''},
    endDate: {type: String, default: ''},
    startDate: {type: String, default: ''},
  },
  emits: ['remove', 'update:city', 'update:country', 'update:endDate', 'update:startDate'],
  data() {
    return {
      iconTrash: faTrash,
    };
  },
  methods: {
    remove() {
      this.$emit('remove', this.id);
    },
  },
}
</script>

<style>

</style>
