<template>
  <app-multiselect
    mode="tags"
    :model-value="modelValue"
    :delay="300"
    :searchable="true"
    :create-tag="true"
    :resolve-on-load="true"
    :options="async query => await load(query)"
    @update:modelValue="$emit('update:modelValue', $event)"
  />
</template>

<script>
import Axios from 'axios';
import AppMultiselect from './AppMultiselect.vue';
export default {
  components: { AppMultiselect },
  props: {
    modelValue: {type: Object, default: () => ({})},
  },
  emits: ['update:modelValue'],
  methods: {
    load: async function () {
      const response = await Axios.get(this.route('comorbidities.index'));
      return response.data.data.map(item => ({value: item.id, label: item.name}));
    },
  },
}
</script>

<style>

</style>
