<template>
  <app-select
    :model-value="modelValue"
    @update:modelValue="$emit('update:modelValue', $event)"
  >
    <template #default="{ value }">
      <option
        value="F"
        :selected="value === 'F'"
        v-text="'F'"
      />
      <option
        value="M"
        :selected="value === 'M'"
        v-text="'M'"
      />
    </template>
  </app-select>
</template>

<script>
import AppSelect from './AppSelect.vue';
export default {
  components: { AppSelect },
  props: {
    modelValue: {type: String, default: ''},
  },
  emits: ['update:modelValue'],
}
</script>

<style>

</style>
