<template>
  <app-select
    :model-value="modelValue"
    @update:modelValue="$emit('update:modelValue', $event)"
  >
    <template #default="slotProps">
      <option
        v-for="item in data"
        :key="item.id"
        :value="item.id"
        :selected="slotProps.value === item.id"
        :aria-selected="slotProps.value === item.id"
        v-text="item.name"
      />
    </template>
  </app-select>
</template>

<script>
import Axios from 'axios';
import AppSelect from './AppSelect.vue';
export default {
  components: { AppSelect },
  props: {
    modelValue: {type: Number, default: 2},
  },
  emits: ['update:modelValue'],
  data: () => ({data: [{id: '', name: 'Cargando...'}]}),
  created() {
    this.load();
  },
  methods: {
    load() {
      Axios.get(this.route('samples-types.index')).then(response => {
        this.data = response.data.data;
      });
    },
  },
}
</script>

<style>

</style>
