<template>
  <app-table
    :columns="columns"
    :data="data"
    :options="options"
    :page="page"
    :per-page="perPage"
    :total-records="totalRecords"
    :with-footer="true"
    @change:page="load"
  >
    <template #action="{ row }">
      <anchor-warning :href="route('iecs.edit', row.id)">
        Modificar
      </anchor-warning>
    </template>
  </app-table>
</template>

<script>
import AppTable from './AppTable.vue';
import Axios from 'axios';
import AnchorWarning from './AnchorWarning.vue';
export default {
  components: { AppTable, AnchorWarning },
  data: () => ({
    columns: ['id', 'name', 'date', 'action'],
    data: [],
    options: {
      headings: {id: 'ID', name: 'Nombre', date: 'Fecha', action: ''},
    },
    page: 1,
    perPage: 10,
    totalRecords: 0,
  }),
  created() {
    this.load();
  },
  methods: {
    load(page = 1) {
      this.page = page;
      Axios.get(this.route('iecs.index', {page: this.page, per_page: this.perPage})).then(response => {
        this.data = response.data.data.map(item => {
          item.name = item.contact.name;
          return item;
        });
        this.totalRecords = response.data.total;
      });
    },
  },
}
</script>

<style>

</style>
